<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sample Project</title>
</head>

<body>
    <h2>Hi Users, Let's see how many times you people are visited in my website</h2>
    <form action="/visitors" method="post">
        <input type="text" placeholder="Enter your username" id="username" name="username" required>
        <button type="submit">Check</button>
    </form>
</body>

</html>